body {
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.container {
    width: 700px;
    margin: 2rem auto;
}

hr {
    border: none;
    height: 1px;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    margin: 1.5rem 0;
}

input {
    border: 1px #eaeaea solid;
    margin-bottom: 1rem;
    display: block;
    margin-right: 1rem;
}

input.has-error {
    border-color: red;
}

input, button {
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
}

button {
    background: #69d481;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
}

button:disabled {
    background: #e0e0e0;
    cursor: not-allowed;
}

.form-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.form-body label {
    margin: 0.3rem 0.5rem 0 0;
}