body {
    font-size: 16px;
    font-family: Arial, sans-serif;
    margin: 0;
    color: #222222;
}

a {
    color: #e03d71;
}

a:hover {
    color: #c33562;
}

h3 {
    font-weight: 100;
    color: #000000;
}

input, textarea, button {
    font-size: 0.9rem;
}

.container {
    max-width: 900px;
    margin: 2rem auto;
    padding: 0 2rem;
}

hr {
    border: none;
    height: 1px;
    display: block;
    background: rgba(0, 0, 0, 0.05);
    margin: 1.5rem 0;
}

input {
    border: 1px #eaeaea solid;
    margin-bottom: 1rem;
    display: block;
    margin-right: 1rem;
}

input + span {
    margin-top: -0.7rem;
    display: block;
    color: red;
    margin-bottom: 1rem;
}

.has-error {
    border-color: red;
}

input, button {
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
}

button {
    background: #69d481;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
}

button:disabled {
    background: #e0e0e0;
    cursor: not-allowed;
}

form {
    background: #ffffff;
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.05);
    border: 1px rgba(0, 0, 0, 0.05) solid;
    margin-bottom: 1rem;
}

@media screen and (min-width: 1366px) {
    .form-body {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media screen and (max-width: 1366px) {
    input {
        display: block;
    }
}

.form-body label {
    margin: 0.3rem 0.5rem 0 0;
}

.form-checkbox-group label {
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.form-checkbox-group input {
    display: inline-block;
    float: left;
}

.small {
    font-size: 0.75rem;
}

.text-center {
    text-align: center;
}

.link {
    font-size: 1.5rem;
    line-height: 1.8;
}

[data-toolip] {
    position: relative;

}

[data-toolip]:before {
    content: "";
    display: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #1a1a1a;
    position: absolute;
    top: 30px;
    left: 35px;
    z-index: 8;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

[data-toolip]:after {
    display: none;
    content: attr(data-tip);
    position: absolute;
    top: 35px;
    left: 0;
    padding: 5px 8px;
}
